# build output
dist/
.output/

# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
npm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Astro cache
.astro/
